[Unit]
Description=XRay Connection Monitor
After=network.target xray.service

[Service]
Type=simple
User=xray
ExecStart=/usr/local/bin/xray-monitor \
    --log-filepath=/var/log/xray/monitor.log
    --interval=3
Restart=on-failure
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
